@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Edge浏览器兼容样式 */
.edge-browser video {
  object-fit: contain !important;
}

/* 移动设备上的Edge浏览器兼容样式 */
.mobile.edge-browser video {
  width: 100% !important;
  height: auto !important;
  max-width: 100% !important;
}